*{box-sizing: border-box;}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    opacity: 0.8;
}
a:active :not(.active) {
    text-decoration: none;
    opacity: 0.6;
}
a .active{
    text-decoration: underline !important;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    position:sticky;
    top: 0;
    z-index: 3;
}
header .header-top-container{
    height: 30px;
    background-color: black;
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}
header .header-top-left{
    display: flex;
    align-items: center;
}
header .header-top-left img{
    height: 20px;
    margin-right: 8px;
}
header .header-top-left a{
    font-size: 0.8em;
    color: rgb(227, 225, 225);
}
header .header-top-center a{
    color: rgb(227, 225, 225);
    text-decoration: underline;
}
header .header-top-right a{
    color: rgb(227, 225, 225);
}
header .header-bottom-container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: rgb(227, 225, 225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header .header-bottom-left{
    display: flex;
    align-items: center;
}
header .header-bottom-left img{
    height: 65px;
    margin-right: 8px;
}
header .header-bottom-center a{
    font-weight: bold;
    margin: 0 10px;
}
header .header-bottom-right{
    display: flex;
    align-items: center;
}
header .header-bottom-right input{
    padding: 8px 20px;
    border: 0.5px solid #cccccce7;
    box-shadow: 0px 0px 1px;
    border-radius: 15px;
    width: 160px;
    background-color:  rgb(246, 243, 243);
    background-image: url(image/search-icon.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    opacity: 0.7;
}
header .header-bottom-right input:focus{
    background-color:white;
}
header .header-bottom-right img{
    height: 20px;
}
header .header-bottom-right #heart-image{
    margin: 0 10px;
}
main .main-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
main .main-info-container .info ul{
    margin-top: 50px;
}
main .main-info-container .info a{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 0 3px #040202;
}
main .main-info-container .info a:hover{
    background-color: rgb(227, 225, 225);
    color: black;
}
main .main-info-container .info a:active{
    background-color: black;
    color: rgb(227, 225, 225);
}
main .main-new-arrival-container, .main-trending-container{
    width: 90%;
    margin: 50px auto;
}
main .new-arrival-header, .trending-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .new-arrival-header .title, .trending-header .title{
    display: flex;
    align-items: center;
}
main .new-arrival-header img, .trending-header img{
    height: 25px;
    margin-right: 5px;
}
main .new-arrival-data, .trending-data{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;

}
main .card{
    width: 250px;
    height: 300px;
    margin: 10px auto;
    background-color: rgb(227, 225, 225);
    box-shadow: 0 0 2px;
}
main .card img{
    width: 100%;
    height: 250px;
}
main .card-image{
    position: relative;
}
main .card-price{
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: rgb(227, 225, 225);
    color: black;
    font-size: 12px;
    padding: 5px;
}
main .image-tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    padding: 0 10px;
    width: 100%;
}
main .image-tag img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
main .tag-left{
    display: flex;
    align-items: center;
}
main .tag-left h2{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
main .card-content{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 20px;
}
main .card-content h4, p{
    margin: 0;
}
main .card-content h4{
    font-weight: 500;
    opacity: 0.8;
    font-size: 0.9em;
}
main .card-content p{
    opacity: 0.6;
    font-size: 0.7em;
}



footer {
    background-color: black;
    color: rgb(227, 225, 225);
    padding: 20px 10px;
}
footer li{
    display: block;
    margin-bottom: 25px;
    opacity: 0.75;
}
footer a{
    color: rgb(227, 225, 225);
}
footer a:active{
    color: white;
}
footer .footer-top-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 0 20px;
}
footer .footer-top-right img{
    height: 60px;
    margin-right: 8px;
}
footer .footer-top-right .header{
    display: flex;
}
footer .footer-top-right a{
    opacity: 1.0;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    margin: 0 10px;
    font-weight: bold;
    font-size: 2em;
}
footer .footer-top-right a:hover{
    opacity: 0.75;
}
footer .footer-top-right li{
    display: inline;
    margin: 0 10px;
}
footer .footer-top-right ul{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-bottom-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-bottom-left{
    display: flex;
    align-items: center;
    margin: 10px 20px;
    font-size: 0.9em;
    opacity: 0.85;
}
footer .footer-bottom-left #copyright{
    font-size: 0.7em;
}
footer .footer-bottom-right{
    display: flex;
    align-items: center;
}
footer .footer-bottom-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.7em;
    margin: 0 20px;
    opacity: 0.75;
}
@media  (max-width: 900px){
    header .header-top-container{
        height: 30px;
        padding: 0 10px;
        font-size: 0.7em;
    }
    header .header-top-center{
        display: none;
    }
    header .header-top-left img{
        height: 10px;
        margin-right: 4px;
    }
    header .header-bottom-container{
        height: 50px;
        padding: 0 10px;
    }
    header .header-bottom-left img{
        height: 40px;
        margin-right: 4px;
    }
    header .header-bottom-center{
        display: none;
    }
    header .header-bottom-right input{
        padding: 4px 10px;
        width: 100px;
        background-size: 15px;
    }
    header .header-bottom-right img{
        height: 15px;
    }
    header .header-bottom-right #heart-image{
        margin: 0 5px;
    }
    main .card{
        width: 200px;
        height: 250px;
    }
    main .card img{
        width: 100%;
        height: 200px;
    }
    main .image-tag img{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    main .card-price{
        bottom: 3px;
        left: 5px;
    }
    footer {
        padding: 10px 5px;
        font-size: 0.7em;
    }
    footer li{
        margin-bottom: 10px;
    }
    footer .footer-top-container{
        margin-bottom: 5px;
        padding: 0 10px;
    }
    footer .footer-top-right img{
        height: 30px;
        margin-right: 4px;
    }
    footer .footer-top-container div{
        min-width: 150px;
    }
    footer .footer-top-right .header{
        display: flex;
        align-items: center;
    }
    footer .footer-top-right a{
        margin: 0 5px;
        font-size: 1.5em;
    }
    footer .footer-top-right ul{
        margin: 10px 0;
    }
} 
